<!--Diego Escobedo Ruiz-->

<h1>Search Form</h1>

<table>
<form method="get" action="
{% if request.resolver_match.url_name == 'graphs' %}
{% url 'graphs' %}
{% else %}
{% url 'home' %}
{% endif %}">
    <tr>
        <th>Party Affiliation:</th>
        <td>
            <select name="party_affiliation">
                <option value="">Any</option>
                <option value="D " {% if request.GET.party_affiliation == "D " %}selected{% endif %}>Democrat</option>
                <option value="R " {% if request.GET.party_affiliation == "R " %}selected{% endif %}>Republican</option>
                <option value="U " {% if request.GET.party_affiliation == "U " %}selected{% endif %}>Unenrolled</option>
                <option value="CC" {% if request.GET.party_affiliation == "CC" %}selected{% endif %}>United Independent</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Minimum Date of Birth:</th>
        <td><input type="date" name="min_dob" value="{% if request.GET.min_dob %}{{ request.GET.min_dob }}{% endif %}"></td>
    </tr>
    <tr>
        <th>Maximum Date of Birth:</th>
        <td><input type="date" name="max_dob" value="{% if request.GET.max_dob %}{{ request.GET.max_dob }}{% endif %}"></td>
    </tr>

    <tr>
        <th>Voter Score:</th>
        <td><select name="voter_score">
            <option value="">Any</option>
            <option value=0 {% if request.GET.voter_score == "0" %}selected{% endif %}>0</option>
            <option value=1 {% if request.GET.voter_score == "1" %}selected{% endif %}>1</option>
            <option value=2 {% if request.GET.voter_score == "2" %}selected{% endif %}>2</option>
            <option value=3 {% if request.GET.voter_score == "3" %}selected{% endif %}>3</option>
            <option value=4 {% if request.GET.voter_score == "4" %}selected{% endif %}>4</option>
            <option value=5 {% if request.GET.voter_score == "5" %}selected{% endif %}>5</option>
        </select></td>
    </tr>

    <tr>
        <th>Voting History:</th>
        <td>
            <input type="checkbox" id="v20state" name="v20state" value="TRUE" {% if request.GET.v20state %}checked{% endif %}>
            <label for="v20state">Voted in 2020 State Election</label><br>
            <input type="checkbox" id="v21city" name="v21city" value="TRUE" {% if request.GET.v21city %}checked{% endif %}>
            <label for="v21city">Voted in 2021 Town Election</label><br>
            <input type="checkbox" id="v21primary" name="v21primary" value="TRUE" {% if request.GET.v21primary %}checked{% endif %}>
            <label for="v21primary">Voted in 2021 Primary Election</label>
            <input type="checkbox" id="v22general" name="v22general" value="TRUE" {% if request.GET.v22general %}checked{% endif %}>
            <label for="v22general">Voted in 2022 General Election</label>
            <input type="checkbox" id="v23town" name="v23town" value="TRUE" {% if request.GET.v23town %}checked{% endif %}>
            <label for="v23town">Voted in 2023 Town Election</label>
        </td>
    </tr>


    <tr>
        <td><input type="submit" value="Search"></td>
        <td></td>
    </tr>


</form>
</table>
