<!--Diego Escobedo Ruiz-->
{% extends 'voter_analytics/base.html' %}

{% block content %}
    <div class="row">
        {% if is_paginated %}
            <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li>
                        <span><a href="?page={{ page_obj.previous_page_number }}{% if current_query %}&{{ current_query }}{% endif %}">previous</a></span>
                    </li>
                    {% endif %}

                    <li>
                        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                    </li>

                    {% if page_obj.has_next %}
                        <li>
                        <span><a href="?page={{ page_obj.next_page_number }}{% if current_query %}&{{ current_query }}{% endif %}">next</a></span>
                    </li>
                    {% endif %}
            </ul>
    </div>
        {% endif %}

    <div class="row">
            {% include 'voter_analytics/search.html' %}
    </div>

    <!--voters-->
    <div class="row">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>

                <th>Residential Address Street Number</th>
                <th>Residential Address Street Name</th>
                <th>Residential Address Apartment Number</th>
                <th>Residential Address Zip Code</th>

                <th>Date of Birth</th>

                <th>Party Affiliation</th>
                
                <!-- Here to check, but it does filter correctly!
                <th>v20state</th>
                <th>v21town</th>
                <th>v21primary</th>
                <th>v22general</th>
                <th>v23town</th>
                -->

                <th>Voter Score</th>

            </tr>

            {% for voter in voters %}
            <tr>
                <td><a href="{% url 'voter_detail' voter.pk %}">{{ voter.first_name }}</a></td>
                <td>{{ voter.last_name }}</td>

                <td>{{ voter.residential_address_street_number }}</td>
                <td>{{ voter.residential_address_street_name }}</td>
                <td>{{ voter.residential_address_apartment_number }}</td>
                <td>{{ voter.residential_address_zip_code }}</td>

                <td>{{ voter.dob }}</td>
                
                <td>{{ voter.party_affiliation }}</td>
                
                <!-- here to check, but it does filter correctly!
                
                <td>{{ voter.v20state }}</td>
                <td>{{ voter.v21city }}</td>
                <td>{{ voter.v21primary }}</td>
                <td>{{ voter.v22general }}</td>
                <td>{{ voter.v23town }}</td>
                -->

                <td>{{ voter.voter_score }}</td>

            </tr>

            {% endfor %}
        </table>
    </div>

{% endblock %}