<!-- Diego Escobedo Ruiz-->

{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'custom_styles.css' %}">
    </head>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'random' %}">Random combo</a></li>
            <li><a href="{% url 'all_jokes' %}">All Jokes</a></li>
            <li><a href="{% url 'all_pictures' %}">All Pictures</a></li>
        </ul>
    </nav>
    
    <body>
        {% block content %}
        {% endblock %}
    </body>

</html>