{% extends 'quotes/base.html' %}
 
 
{% block content %}
 
 
<div>
    <h1>About</h1> 
 
    <p>This site shows a random Dennis Hopper image and quote for your pleasure!</p>
    <p>Dennis Hopper is an actor and Director know for his roles in: Blue Velvet, Apocalypse Now, and Super Mario Bros. He is also known for his
        directorial work in Easy Rider, Out of the Blue, and The Last Movie.
    
    </p>

    <p>The creator of these pages is Diego Escobedo Ruiz, a student in cs412 at Boston University</p>
 
</div>
 
 
{% endblock %}