{% extends 'mini_insta/base.html' %}
<!-- Diego Escobedo Ruiz / 2/18/26 / mini_insta 2 -->
{% block content %}
 
 
<h2>Making a new post!</h2>
 
<h3><a href="{% url 'show_profile' profile.pk %}">Back to profile</a></h3> 

<form method = 'POST' enctype="multipart/form-data" >
 
    {% csrf_token %}
    
<table>
    
        <!--basedon the object-->
    {{form.as_table}}
    <tr>
        <td></td>
        <td>

            <input type='submit' value= 'Make a post'>
        </td>
    </tr>
    
</table>
</form>
 
 
{% endblock %}