{% extends 'mini_insta/base.html' %}
<!-- Diego Escobedo Ruiz / Displays A SINGLE profile-->

{% block content %}
<!-- takes the given profile and displays all of the information for that profile -->
<title>{{ profile.display_name }}</title>
<ul>
    username: {{ profile.username }}<br>
    display name: {{ profile.display_name }}<br>
    <a href="{% url 'show_followers' profile.pk %}">Followers: {{ profile.get_num_followers }}</a><br>
    <a href="{% url 'show_following' profile.pk %}">Following: {{ profile.get_num_following }}</a><br>

    <img src="{{ profile.profile_image_url }}" alt="Profile picture of {{ profile.username }}"><br>
    {{ profile.bio_text }}

    <h3><a href="{% url 'create_post_form' profile.pk %}">Create a post</a></h3>
    <h3><a href="{% url 'update_profile_form' profile.pk %}">Update Profile</a></h3>
</ul>

<div>
    <h2>Posts:</h2>
    {% for post in profile.get_all_posts %}
        <div>
            <a href="{% url 'show_post' post.pk %}">View Post</a>
            <p>{{ post.caption }}</p>
            <!--shows the first photo-->
            {% with first_photo=post.get_first_photo %}
                {% if first_photo and first_photo.get_image_url %}
                    <img src="{{ first_photo.get_image_url }}" alt="Image for post {{ post.pk }}">
                {% else %}
                    <p>No image for this post.</p>
                {% endif %}
            {% endwith %}
        </div>
    {% endfor %}

    

</div>


{% endblock %}